#contactMsg{
    padding-top: 4em;
    div{
        p{
            padding-top: 0.5em;
            padding-bottom: 1em;
            text-align: justify;
        }
    }
    form{
        padding-top: 2em;
    }
}

.contactForm{
    width: 80%;
    margin: 0 auto;
    @include button;
    ul{
        list-style-type: none;
        padding-top: 6em;
        li{
            color: $cinzaClaro;
            vertical-align: middle;
            padding: 0.2em;
            font-size: 14px;
            a{
                color: $cinzaClaro;
                font-size: 14px;
            }
            b{
                color: #333;
            }
        }
        li.b{
            padding-top: 2em;
        }
    }
}

@media (max-width: $tablet){
    .contactForm{
        ul{
            padding-inline-start: 0;
        }
    }
}

@media (max-width: $mobileL){
    #contactMsg{
        h2{
            font-size: 25px;
        }
        p{
            padding-bottom: 2em;
            margin-bottom: 1em;
            border-bottom: solid 1px #333;
        }
    }
    .contactForm{
        ul{
            padding-top: 2em;
        }
    }
}