$cinzaEscuro: #333;
$cinzaMuitoClaro: #d3d3d3;
$cinzaClaro: #999;
$notebook: 1024px;
$smallScreen: 964px;
$tablet: 768px;
$mobileL: 530px;
$mobileM: 375px;
$mobileS: 320px;

@mixin weightDefault{
    font-weight: 600;
}

@mixin styledLink {
    a{
        @include weightDefault;
        font-size: 18px;
    }
}

@mixin button {
    .btn-default{
        color: #fff;
        background-color: #333;
        &:hover{
            color: #333;
            background-color: #ccc;
        }
    }
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifd;
    p{
        font-size: 16px;
    }
    a{
        color: $cinzaEscuro;
        &:hover{
            color: $cinzaClaro;
        }
    }
    h1, h2, h3{
        margin-top: 0;
        margin-bottom: 0;
    }
}

.divider{
    width: 100%;
    height: 1px;
    background-color: #333;
}